body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-upload.ant-upload-drag {
  width: 80%;
  margin: 20px;
}
.ant-upload-list.ant-upload-list-picture {
  width: 100%;
  margin: 20px;
}

.App {
  padding: 50px;
  width: 700px;
  border: 2px solid green;
}

.parent {
  background-color: blue;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  border-top: 100px solid gray;
}
